# Lambdas, udef, filter, map

The goverment made a socilogical study of citizens at mid-40's. They gathered the following data:

In [1]:
citizens = [{ 'First Name': 'Preston' , 'Last Name': 'Cunningham', 'Age': 49 , 'Education': 'Doctoral', 'Occupation':' Teacher' ,'Experience (Years)': 6, 'Salary': 62499}, 
 { 'First Name': 'Madaline', 'Last Name': 'Farrell', 'Age': 41, 'Education': 'Bachelor', 'Occupation': 'Insurer','Experience (Years)': 16, 'Salary': 50190},
 { 'First Name': 'Eleanor', 'Last Name': 'Carter', 'Age': 49, 'Education': 'Lower secondary', 'Occupation': 'Programmer','Experience (Years)': 18, 'Salary': 189716},
 { 'First Name': 'Adison', 'Last Name': 'Hall', 'Age': 42 , 'Education': 'Bachelor', 'Occupation': 'Florist','Experience (Years)': 21, 'Salary': 34517},
 { 'First Name': 'Grace', 'Last Name': 'Cooper', 'Age': 49, 'Education': 'Master', 'Occupation': 'Singer','Experience (Years)': 9, 'Salary': 51994},
 { 'First Name': 'Alford', 'Last Name': 'Kelley', 'Age': 49, 'Education': 'Bachelor', 'Occupation': 'Aeroplane Pilot','Experience (Years)': 9, 'Salary': 170466},
 { 'First Name': 'Vincent', 'Last Name': 'Anderson', 'Age': 47, 'Education': 'Master', 'Occupation': 'Botanist','Experience (Years)': 6, 'Salary': 71617},
 { 'First Name': 'Myra', 'Last Name': 'Wright', 'Age': 45, 'Education': 'Master', 'Occupation': 'Geologist' ,'Experience (Years)': 18, 'Salary': 48786},
 { 'First Name': 'Chester', 'Last Name':'Bennett', 'Age': 42, 'Education': 'Doctoral', 'Occupation': 'Astronomer','Experience (Years)': 13, 'Salary': 44826},
 { 'First Name': 'Blake', 'Last Name': 'Tucker', 'Age': 42, 'Education': 'Doctoral', 'Occupation': 'Firefighter','Experience (Years)': 21, 'Salary': 36761},
 { 'First Name': 'Paige', 'Last Name': 'Ryan', 'Age': 43, 'Education': 'Primary', 'Occupation': 'Fine Artist','Experience (Years)': 19, 'Salary': 28181},
 { 'First Name': 'Natalie', 'Last Name': 'Ellis', 'Age': 45, 'Education': 'Bachelor', 'Occupation': 'Baker','Experience (Years)': 0, 'Salary': 31194},
 { 'First Name': 'Martin', 'Last Name': 'Thompson', 'Age': 47, 'Education': 'Bachelor', 'Occupation': 'Journalist','Experience (Years)': 21, 'Salary': 90183},
 { 'First Name': 'Alan', 'Last Name': 'Sullivan', 'Age': 46, 'Education': 'Doctoral', 'Occupation': 'Singer','Experience (Years)': 2, 'Salary': 18440},
 { 'First Name': 'Inga', 'Last Name': 'Bergman', 'Age': 41, 'Education': 'Bachelor', 'Occupation': 'Producer','Experience (Years)': 22, 'Salary': 80029},
 { 'First Name': 'Freddy', 'Last Name': 'Brown', 'Age': 48, 'Education': 'Bachelor', 'Occupation': 'Economist','Experience (Years)': 18, 'Salary': 146217},
 { 'First Name': 'Adelaide', 'Last Name': 'Farrell', 'Age': 42, 'Education': 'Bachelor', 'Occupation': 'Mechanic','Experience (Years)': 9, 'Salary':19414},
 { 'First Name': 'Luke', 'Last Name': 'Cooper', 'Age': 40, 'Education': 'Upper secondary', 'Occupation': 'Producer','Experience (Years)': 17, 'Salary': 160541},
 { 'First Name': 'Sofia', 'Last Name': 'Hall', 'Age': 41, 'Education': 'Doctoral', 'Occupation': 'Baker','Experience (Years)': 1, 'Salary': 25904},
 { 'First Name': 'Ashton', 'Last Name': 'Kelly', 'Age': 49, 'Education': 'Master', 'Occupation': 'Chef','Experience (Years)': 6, 'Salary': 95533}
]

The goverment wants to know some things about this sample of citizens.

## Exercise 1:

1. Create a user defined function to compute the mean of a list of numbers.
2. Use python code to store the ages of the citizens inside a list.
3. Use your function to compute the mean age (round the mean age to one decimal) using `round()`

Expected result:

```python
"The mean age of the citizens is: average_age years"
```

replacing `average_age` by the correspoding value.

In [3]:
# Your code
def average_age():
    ages = []
    for citizen in citizens:
        ages.append(citizen['Age'])
    return sum(ages)/len(ages)

print(int(round(average_age(), 0)))

45

# Exercise 2:

1. What are the unique educational levels?  
2. How many unique educational levels are?
3. What are the unique ocupations?
4. How many unique ocupations are?

In [4]:
# Your code
def unique_educational_levels():
    levels = []
    for citizen in citizens:
        levels.append(citizen['Education'])
    return set(levels), len(set(levels))

def unique_ocupations():
    ocupations = []
    for citizen in citizens:
        ocupations.append(citizen['Occupation'])
    return set(ocupations), len(set(ocupations))

print(unique_educational_levels())
print(unique_ocupations())

({'Master', 'Upper secondary', 'Primary', 'Doctoral', 'Lower secondary', 'Bachelor'}, 6)
({'Astronomer', 'Florist', 'Firefighter', 'Economist', 'Programmer', 'Aeroplane Pilot', 'Mechanic', 'Botanist', 'Singer', 'Producer', 'Insurer', 'Fine Artist', ' Teacher', 'Geologist', 'Journalist', 'Chef', 'Baker'}, 17)

# Exercise 3:

1. Provide a new list in which avery element is another dictionary which only contains:

* 'First Name'
* 'Last Name'
* and at which age they started working?
   ( substract from the age the years of experience )

Expected output:

```python
[{ 'First Name': name, 'Last Name': last_name,'Starting age': 27},
 ...
]
```

In [6]:
# Your code
users_list = []
for citizen in citizens:
    users_list.append({'First Name': citizen['First Name'], 'Last Name': citizen['Last Name'], 'Stanting Age': citizen['Age'] - citizen['Experience (Years)']})

print(users_list)

[{'First Name': 'Preston', 'Last Name': 'Cunningham', 'Stanting Age': 43}, {'First Name': 'Madaline', 'Last Name': 'Farrell', 'Stanting Age': 25}, {'First Name': 'Eleanor', 'Last Name': 'Carter', 'Stanting Age': 31}, {'First Name': 'Adison', 'Last Name': 'Hall', 'Stanting Age': 21}, {'First Name': 'Grace', 'Last Name': 'Cooper', 'Stanting Age': 40}, {'First Name': 'Alford', 'Last Name': 'Kelley', 'Stanting Age': 40}, {'First Name': 'Vincent', 'Last Name': 'Anderson', 'Stanting Age': 41}, {'First Name': 'Myra', 'Last Name': 'Wright', 'Stanting Age': 27}, {'First Name': 'Chester', 'Last Name': 'Bennett', 'Stanting Age': 29}, {'First Name': 'Blake', 'Last Name': 'Tucker', 'Stanting Age': 21}, {'First Name': 'Paige', 'Last Name': 'Ryan', 'Stanting Age': 24}, {'First Name': 'Natalie', 'Last Name': 'Ellis', 'Stanting Age': 45}, {'First Name': 'Martin', 'Last Name': 'Thompson', 'Stanting Age': 26}, {'First Name': 'Alan', 'Last Name': 'Sullivan', 'Stanting Age': 44}, {'First Name': 'Inga', 'Last Name': 'Bergman', 'Stanting Age': 19}, {'First Name': 'Freddy', 'Last Name': 'Brown', 'Stanting Age': 30}, {'First Name': 'Adelaide', 'Last Name': 'Farrell', 'Stanting Age': 33}, {'First Name': 'Luke', 'Last Name': 'Cooper', 'Stanting Age': 23}, {'First Name': 'Sofia', 'Last Name': 'Hall', 'Stanting Age': 40}, {'First Name': 'Ashton', 'Last Name': 'Kelly', 'Stanting Age': 43}]

# Exercise 4:

1. Can you provide a dictionary which contains **unique** `Education` levels and the corresponding mean salary?
2. Do the same but by `Occupation`

Expected outputs:

```python
{'Doctoral': mean_salary_doctorals,
 'Bachelor': mean_salaty_bachelors,
...}
```

```python
{'Teacher': mean_salary_teachers,
 'Insurer': mean_salaty_insurers,
...}
````

**CAVEAT!!** The statement says: UNIQUE!!!

In [14]:
# Your code
education_dict = {}

for citizen in citizens:
    if citizen['Education'] in education_dict:
        education_dict[citizen['Education']][0] += 1
        education_dict[citizen['Education']][1] += citizen['Salary']
    else:
        education_dict[citizen['Education']] = [1, citizen['Salary']]
for i in education_dict:
    education_dict[i] = education_dict[i][1]/education_dict[i][0]

print(education_dict)

ocupations_dict = {}
for citizen in citizens:
    if citizen['Occupation'] in ocupations_dict:
        ocupations_dict[citizen['Occupation']][0] += 1
        ocupations_dict[citizen['Occupation']][1] += citizen['Salary']
    else:
        ocupations_dict[citizen['Occupation']] = [1, citizen['Salary']]
for i in ocupations_dict:
    ocupations_dict[i] = ocupations_dict[i][1]/ocupations_dict[i][0]

print(ocupations_dict)

{'Doctoral': 37686.0, 'Bachelor': 77776.25, 'Lower secondary': 189716.0, 'Master': 66982.5, 'Primary': 28181.0, 'Upper secondary': 160541.0}
{' Teacher': 62499.0, 'Insurer': 50190.0, 'Programmer': 189716.0, 'Florist': 34517.0, 'Singer': 35217.0, 'Aeroplane Pilot': 170466.0, 'Botanist': 71617.0, 'Geologist': 48786.0, 'Astronomer': 44826.0, 'Firefighter': 36761.0, 'Fine Artist': 28181.0, 'Baker': 28549.0, 'Journalist': 90183.0, 'Producer': 120285.0, 'Economist': 146217.0, 'Mechanic': 19414.0, 'Chef': 95533.0}

# Exercise 5:

1. Use a `lambda` function and `filter` to keep only citizens with 'Doctoral' educational level.
2. Use a user defined function to obtain the same output

The output in both cases should be:

```python
[{'First Name': 'Preston',
  'Last Name': 'Cunningham',
  'Age': 49,
  'Education': 'Doctoral',
  'Occupation': ' Teacher',
  'Experience (Years)': 6,
  'Salary': 62499},
 {'First Name': 'Chester',
  'Last Name': 'Bennett',
  'Age': 42,
  'Education': 'Doctoral',
  'Occupation': 'Astronomer',
  'Experience (Years)': 13,
  'Salary': 44826},
 {'First Name': 'Blake',
  'Last Name': 'Tucker',
  'Age': 42,
  'Education': 'Doctoral',
  'Occupation': 'Firefighter',
  'Experience (Years)': 21,
  'Salary': 36761},
 {'First Name': 'Alan',
  'Last Name': 'Sullivan',
  'Age': 46,
  'Education': 'Doctoral',
  'Occupation': 'Singer',
  'Experience (Years)': 2,
  'Salary': 18440},
 {'First Name': 'Sofia',
  'Last Name': 'Hall',
  'Age': 41,
  'Education': 'Doctoral',
  'Occupation': 'Baker',
  'Experience (Years)': 1,
  'Salary': 25904}]
```

In [16]:
# Your code
print(list(filter(lambda x: x['Education'] == 'Doctoral', citizens)))

# Use a user defined function to obtain the same output
def filter_by_education(education):
    return list(filter(lambda x: x['Education'] == education, citizens))

print(filter_by_education('Doctoral'))

[{'First Name': 'Preston', 'Last Name': 'Cunningham', 'Age': 49, 'Education': 'Doctoral', 'Occupation': ' Teacher', 'Experience (Years)': 6, 'Salary': 62499}, {'First Name': 'Chester', 'Last Name': 'Bennett', 'Age': 42, 'Education': 'Doctoral', 'Occupation': 'Astronomer', 'Experience (Years)': 13, 'Salary': 44826}, {'First Name': 'Blake', 'Last Name': 'Tucker', 'Age': 42, 'Education': 'Doctoral', 'Occupation': 'Firefighter', 'Experience (Years)': 21, 'Salary': 36761}, {'First Name': 'Alan', 'Last Name': 'Sullivan', 'Age': 46, 'Education': 'Doctoral', 'Occupation': 'Singer', 'Experience (Years)': 2, 'Salary': 18440}, {'First Name': 'Sofia', 'Last Name': 'Hall', 'Age': 41, 'Education': 'Doctoral', 'Occupation': 'Baker', 'Experience (Years)': 1, 'Salary': 25904}]
[{'First Name': 'Preston', 'Last Name': 'Cunningham', 'Age': 49, 'Education': 'Doctoral', 'Occupation': ' Teacher', 'Experience (Years)': 6, 'Salary': 62499}, {'First Name': 'Chester', 'Last Name': 'Bennett', 'Age': 42, 'Education': 'Doctoral', 'Occupation': 'Astronomer', 'Experience (Years)': 13, 'Salary': 44826}, {'First Name': 'Blake', 'Last Name': 'Tucker', 'Age': 42, 'Education': 'Doctoral', 'Occupation': 'Firefighter', 'Experience (Years)': 21, 'Salary': 36761}, {'First Name': 'Alan', 'Last Name': 'Sullivan', 'Age': 46, 'Education': 'Doctoral', 'Occupation': 'Singer', 'Experience (Years)': 2, 'Salary': 18440}, {'First Name': 'Sofia', 'Last Name': 'Hall', 'Age': 41, 'Education': 'Doctoral', 'Occupation': 'Baker', 'Experience (Years)': 1, 'Salary': 25904}]

# Exercise 6:

1. Use a `lambda` function alongside with `map()` to get a list of strings with the following pattern:

"First Name is number_of_years years old"

The expected output should be:

```python
['Preston Cunningham is 49 years old',
 'Madaline Farrell is 41 years old',
 'Eleanor Carter is 49 years old',
 'Adison Hall is 42 years old',
 'Grace Cooper is 49 years old',
 'Alford Kelley is 49 years old',
 'Vincent Anderson is 47 years old',
 'Myra Wright is 45 years old',
 'Chester Bennett is 42 years old',
 'Blake Tucker is 42 years old',
 'Paige Ryan is 43 years old',
 'Natalie Ellis is 45 years old',
 'Martin Thompson is 47 years old',
 'Alan Sullivan is 46 years old',
 'Inga Bergman is 41 years old',
 'Freddy Brown is 48 years old',
 'Adelaide Farrell is 42 years old',
 'Luke Cooper is 40 years old',
 'Sofia Hall is 41 years old',
 'Ashton Kelly is 49 years old']
```

Hint: use `str()` to cast an integer into a string.

In [18]:
# Your code

print(list(map(lambda x: f"{x['First Name']} is {x['Age'] - x['Experience (Years)']} years old", citizens)))

['Preston is 43 years old', 'Madaline is 25 years old', 'Eleanor is 31 years old', 'Adison is 21 years old', 'Grace is 40 years old', 'Alford is 40 years old', 'Vincent is 41 years old', 'Myra is 27 years old', 'Chester is 29 years old', 'Blake is 21 years old', 'Paige is 24 years old', 'Natalie is 45 years old', 'Martin is 26 years old', 'Alan is 44 years old', 'Inga is 19 years old', 'Freddy is 30 years old', 'Adelaide is 33 years old', 'Luke is 23 years old', 'Sofia is 40 years old', 'Ashton is 43 years old']